* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Oswald-Regular;
  src: url(../font/oswald/Oswald-Regular.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font/poppin/Poppins-Regular.ttf);
}

@font-face {
  font-family: FontAwesome-Brand;
  src: url(../font/fontawesome-free-5.15.3-web/webfonts/fa-brands-400.ttf);
}

@font-face {
  font-family: FontAwesome-Regular;
  src: url(../font/fontawesome-free-5.15.3-web/webfonts/fa-regular-400.ttf);
}

@font-face {
  font-family: FontAwesome-Solid;
  src: url(../font/fontawesome-free-5.15.3-web/webfonts/fa-solid-900.ttf);
}

/* COMMON BUTTON  START*/
.common-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000000;
  color: #1a1111;
  background-color: #F6F3F3;
  font-family: Oswald-Regular;
  font-size: 16px;
}

.common-btn:hover {
  border: 1px solid #F6F3F3;
  background-color: #000000;
  color: #F6F3F3;
}
/* COMMON BUTTON  END*/

.pb-only-top {
  padding-bottom: 600px;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
  font-size: 0px;
  content: "";
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.img-sp {
  display: none;
}

.menu-trigger {
  display: none;
}

.br-sp,
.br-ipad {
  display: none;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.demo-body {
  height: 2961px;
  width: 100%;
}

.inner-container {
  max-width: 1120px;
  margin: 0 auto;
}

.hdr {
  background: url(../img/common/img_pc_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.top-sec {
  background: rgba(205, 230, 253, 0.64);
  border-bottom: 5px solid #3D3E3C;
}

.h1-img {
  padding-top: 20px;
  max-width: 201.26px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: inline-block;
  color: #3d3e3c;
  font-family: Oswald-Regular;
  font-size: 18px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 21px;
  padding-right: 21px;
}

nav ul li:last-child a {
  padding-right: 20px;
  padding-left: 21px;
}

nav ul li:nth-child(4n) a {
  padding-right: 19px;
  padding-left: 19px;
}

nav ul li:nth-child(2n) a {
  padding-right: 19px;
  padding-left: 20px;
}

nav ul li a:hover {
  color: #ffffff;
  background: #3d3e3c;
}

.activate {
  color: #ffffff;
  background: #3d3e3c;
}

.h2-common {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 78px;
}

.h2-common .h2-span {
  font-family: Poppins-Regular;
  font-size: 35px;
  /* line-height: 30px; */
  line-height: 0.8571;
  color: #d99c21;
}

.h2-common .h2-p {
  font-family: Oswald-Regular;
  font-size: 55px;
  padding-top: 10px;
  color: #ffffff;
}

/* footer section */
.footer {
  background: url(../img/common/img_pc_bg_footer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-main-col {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-main-col .col {
  width: 31.5%;
  margin-right: 2.75%;
  background: #ffffff;
  padding-top: 38px;
  padding-bottom: 35px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-main-col .col:nth-child(2n),
.footer-main-col .col:last-child {
  padding-top: 23px;
  padding-left: 20px;
}

.footer-main-col .col:last-child {
  margin-right: 0;
}

.footer-main-col .col .col-1-p {
  font-family: Poppins-Regular;
  font-size: 16px;
  /* line-height: 23px; */
  line-height: 1.4375;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-main-col .col .col-h4 {
  font-family: Oswald-Regular;
  font-size: 25px;
  color: #a67d29;
}

.footer-icon {
  padding-top: 30px;
}

.footer-icon a {
  color: #ffffff;
  margin-right: 5px;
}

.footer-icon a .fa-facebook-f {
  padding: 5px 8px;
  background-color: #395A98;
}

.footer-icon a .fa-twitter {
  padding: 5px 5px;
  background-color: #2AA9E0;
}

.footer-icon a .fa-viber {
  padding: 5px 5px;
  background-color: #675CA7;
}

.footer-main-col .col ul {
  padding-top: 25px;
}

.footer-main-col .col ul li {
  padding-bottom: 20px;
}

.footer-main-col .col ul li:last-child {
  padding-bottom: 0px;
}

.footer-main-col .col ul li a {
  color: #333333;
  font-family: Poppins-Regular;
  font-size: 16px;
  /* line-height: 30px; */
  line-height: 1.875;
  padding-left: 24px;
  display: inline-block;
}

.footer-main-col .col ul li::before {
  position: absolute;
  padding-top: 6px;
  color: #333333;
  font-family: FontAwesome-Solid;
  font-size: 15px;
}

.footer-main-col .col ul li:first-child::before {
  content: "\f3c5";
}

.footer-main-col .col ul li:nth-child(2n)::before {
  content: "\f2a0";
}

.footer-main-col .col ul li:last-child::before {
  content: "\f0e0";
}

.copyright-p {
  text-align: center;
  font-family: Poppins-Regular;
  color: #ffffff;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid #ffffff;
}

.copyright-p a {
  color: #f5ff7f
}

/* Ipad  */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .common-btn {
    padding: 1.302vw 2.604vw;
    font-size: 2.083vw;
  }

  .pb-only-top {
    padding-bottom: 321px;
  }

  .inner-container {
    max-width: 93.750vw;
    margin: 0 auto;
  }

  .br-ipad {
    display: block;
  }

  .br-pc {
    display: none;
  }

  .h1-img {
    padding-top: 1.172vw;
    width: 15.276vw;
  }

  nav ul li a {
    font-size: 2.083vw;
    padding: 0;
    padding-top: 1.953vw;
    padding-right: 2.604vw;
    padding-left: 2.604vw;
    padding-bottom: 1.953vw;
  }

  nav ul li:last-child a {
    padding-right: 2.604vw;
    padding-left: 2.734vw;
  }

  .h2-common {
    padding-top: 6.771vw;
    text-align: center;
    padding-bottom: 5.859vw;
  }

  .h2-common .h2-span {
    font-family: Poppins-Regular;
    font-size: 2.474vw;
    /* line-height: 2.083vw; */
    line-height: 0.8421;
    color: #d99c21;
  }

  .h2-common .h2-p {
    font-family: Oswald-Regular;
    font-size: 3.776vw;
    padding-top: 0.521vw;
    padding-right: 1.302vw;
    color: #ffffff;
  }

  /* footer section */
  .footer-main-col {
    padding-top: 6.510vw;
    padding-bottom: 6.510vw;
  }

  .footer-main-col .col {
    width: 31.5%;
    margin-right: 2.75%;
    background: #ffffff;
    padding-top: 2.865vw;
    padding-bottom: 1.953vw;
    padding-left: 1.302vw;
    padding-right: 1.302vw;
  }

  .footer-main-col .col:nth-child(2n),
  .footer-main-col .col:last-child {
    padding-top: 2.865vw;
    padding-left: 1.302vw;
  }

  .footer-main-col .col:last-child {
    margin-right: 0;
  }

  /* first col  */

  .img-footer-logo {
    width: 16.961vw;
  }

  .footer-main-col .col .col-1-p {
    font-size: 1.823vw;
    /* line-height: 3.255vw; */
    line-height: 1.7857;
    padding-top: 1.302vw;
    padding-bottom: 3.516vw;
  }

  .footer-main-col .col .col-h4 {
    font-size: 2.604vw;
  }

  .footer-icon {
    padding-top: 1.042vw;
  }

  .footer-icon a {
    margin-right: 0.391vw;
  }

  .footer-icon a .fa-facebook-f {
    font-size: 1.042vw;
    padding: 0.521vw 0.651vw;
  }

  .footer-icon a .fa-twitter {
    font-size: 1.042vw;
    padding: 0.521vw 0.521vw;
  }

  .footer-icon a .fa-viber {
    font-size: 1.042vw;
    padding: 0.521vw 0.521vw;
  }

  /* first col  */


  /* second col  */
  .footer-main-col .col ul {
    padding-top: 2.344vw;
  }

  .footer-main-col .col ul li {
    padding-bottom: 2.083vw;
  }

  .footer-main-col .col ul li:last-child {
    padding-bottom: 0;
  }

  .footer-main-col .col ul li a {
    color: #333333;
    font-family: Poppins-Regular;
    font-size: 1.823vw;
    line-height: 1.7857;
    /* line-height: 3.255vw; */
    padding-left: 3.125vw;
  }

  .copyright-p {
    text-align: center;
    padding-top: 1.302vw;
    padding-bottom: 0.781vw;
    border-top: 0.130vw solid #ffffff;
    font-size: 1.823vw;
  }

}

@media screen and (max-width: 767.9px) {
  .pb-only-top {
    padding-bottom: 316px;
  }

  .common-btn {
    display: inline-block;
    padding: 1.406vw 3.125vw;
    border: 0.156vw solid #000000;
    color: #1a1111;
    font-family: Oswald-Regular;
    font-size: 2.188vw;
  }

  .common-btn:hover {
    border: 0.156vw solid #F6F3F3;
    background-color: #000000;
    color: #F6F3F3;
  }

  .img-pc {
    display: none;
  }

  .img-sp {
    display: inline-block;
  }

  .br-pc {
    display: none;
  }

  /* .demo-body {
    width: 100%;
    height: 4097px;
  } */

  .inner-container {
    max-width: 93.750vw;
    margin: 0 auto;
  }

  .hdr {
    background: url(../img/common/img_sp_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 268px; */
  }

  .h1-img {
    padding: 0;
    padding-top: 0.781vw;
    max-width: 20.353vw;
  }

  .top-sec {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .top-sec nav {
    z-index: 3;
    background: rgba(205, 230, 253, 0.64);
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 8.281vw;
    position: fixed;
    right: -120vw;
    transition: 2s;
  }

  nav ul li {
    float: none;
    margin: 0;
  }

  nav ul li a {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 2.500vw;
    padding-top: 1.094vw;
    padding-bottom: 1.406vw;
  }

  nav ul li:nth-child(3n) a {
    padding-bottom: 1.875vw;
  }

  nav ul li:last-child {
    padding-bottom: 0.938vw;
  }

  /* menu button  */

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    margin-top: 1.719vw;
    width: 4.219vw;
    height: 3.281vw;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.469vw;
    background-color: #fff;
    border-radius: 0.469vw;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 1.406vw;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(1.406vw) rotate(-45deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-1.406vw) rotate(45deg);
  }

  .h2-common {
    padding-top: 13.906vw;
    text-align: center;
    padding-bottom: 6.250vw;
  }

  .h2-common .h2-span {
    font-family: Poppins-Regular;
    font-size: 2.344vw;
    /* line-height: 2.031vw; */
    line-height: 0.8666;
    color: #d99c21;
    padding-right: 1.563vw;
  }

  .h2-common .h2-p {
    font-family: Oswald-Regular;
    font-size: 3.906vw;
    padding-top: 0;
    padding-right: 0;
    color: #ffffff;
  }

  /* footer section  */

  .footer {
    background: url(../img/common/img_sp_footer_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  .footer-main-col {
    padding-top: 4.688vw;
    padding-bottom: 3.281vw;
  }

  .footer-main-col .col {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 3.125vw;
    padding-top: 3.125vw;
    padding-bottom: 3.125vw;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
  }

  .footer-main-col .col:nth-child(2n),
  .footer-main-col .col:last-child {
    padding-top: 3.125vw;
    padding-left: 3.125vw;
  }

  .footer-main-col .col .col-1-p {
    font-family: Poppins-Regular;
    font-size: 2.188vw;
    /* line-height: 2.656vw; */
    line-height: 1.2142;
    padding-top: 1.094vw;
    padding-bottom: 3.438vw;
  }

  .footer-main-col .col .col-h4 {
    font-size: 3.125vw;
  }

  .footer-icon {
    padding-top: 0.781vw;
  }

  .footer-icon a {
    margin-right: 0.469vw;
  }

  .footer-icon a .fa-facebook-f {
    font-size: 1.250vw;
    padding: 0.625vw 0.781vw;
  }

  .footer-icon a .fa-twitter {
    font-size: 1.250vw;
    padding: 0.625vw 0.625vw;
  }

  .footer-icon a .fa-viber {
    font-size: 1.250vw;
    padding: 0.625vw 0.625vw;
  }

  /* second col  */

  .footer-main-col .col ul li::before {
    padding-top: 0.625vw;
    font-size: 2.344vw;
  }

  .footer-main-col .col ul {
    padding-top: 1.563vw;
  }

  .footer-main-col .col ul li {
    padding-bottom: 2.813vw;
  }

  .footer-main-col .col ul li:nth-child(2n) {
    padding-bottom: 4.688vw;
  }

  .footer-main-col .col ul li:last-child {
    padding-bottom: 0;
  }

  .footer-main-col .col ul li a {
    color: #333333;
    font-family: Poppins-Regular;
    font-size: 2.188vw;
    /* line-height: 2.656vw; */
    line-height: 1.2142;
    padding-left: 2.500vw;
  }

  .footer-main-col .col ul li a.last-a {
    padding-left: 0;
  }

  .copyright-p {
    text-align: center;
    padding-top: 1.563vw;
    padding-bottom: 0.938vw;
    border-top: 0.156vw solid #ffffff;
    font-size: 1.719vw;
  }
}